extends ../layout/main
include ../layout/mixins

block title
    | Change Password

block styles
    
block content 
    .card 
        .container 
            .card__header
                .card__badge VERIFIED user

                .card__user 
                    .card__user-logo 
                        img(src="../assets/content/avatar.jpg" alt="" class="card__user-img")

                    .card__user-column 
                        .card__user-title Hello, Johny Depp

        .form-block.form-block_bg-gray  
            .container 
                .form-block__wrapper
                    form.form-block__box
                        .form-block__top
                            .form-block__title Change Password

                        +form-block-item("Current Password", "pass", "password")
                        +form-block-item("New Password", "newpass", "password")

                        .form-block__buttons.form-block__buttons--last
                            button.btn.btn--primary(type="button" disabled) Change Password
        
