extends ../layout/main-inner
include ../layout/mixins

block title
    | Forgot password

block styles
    
block content 
    .form-block.form-block_bg-gray  
        .container 
            .form-block__wrapper
                form.form-block__box
                    .form-block__top
                        .form-block__title Forgot Password

                    +form-block-item("Username or Email", "email", "text")

                    .form-block__buttons
                        button.btn.btn--primary(type="button") Reset Password 
                    
                    .form-block__links 
                        .form-block__links-column 
                            a.form-block__links-item(href="") Back to Log In
