extends ../layout/main-inner
include ../layout/mixins

block title
    | List page

block styles
    
block content
    .container
        br
        br
        br
        ul(style="font-size: 20px;")
            li
                a(href="main.html") Main 
            li
                a(href="search-results.html") Search results 
            li
                a(href="all-categories.html") All categories
            li
                a(href="in-categories.html") In Categories
            li
                a(href="unverified-business.html") Unverified Business
            li
                a(href="verified-business-reports.html") Verified Business - Reports
            li
                a(href="verified-business-business.html") Verified Business - Business
            li
                a(href="official-answer.html") Spotify - Official Answer
            li
                a(href="most-useful-reviews.html") Spotify - Most Useful Reviews
            li
                a(href="profile-personal.html") Profile - Personal
            li
                a(href="profile-user.html") Profile - User
            li
                a(href="comments.html") Comments
            li
                a(href="ghost.html") Ghost
            li
                a(href="edit-profile.html") Edit Profile
            li
                a(href="edit-profile-filled.html") Edit Profile - Filled
            li
                a(href="edit-profile-done.html") Edit Profile - Done
            li
                a(href="change-password.html") Change Password
            li
                a(href="change-password-filled.html") Change Password - Filled
            li
                a(href="file-a-report.html") File A Report
            li
                a(href="contact-us.html") Contact Us
            li
                a(href="contact-us-filled.html") Contact Us - Filled
            li
                a(href="recomendation.html") Recomendation
            li
                a(href="privacy-policy.html") Privacy Policy
            li
                a(href="cookie-policy.html") Cookie Policy
            li
                a(href="terms-of-use.html") Terms Of Use
            li
                a(href="modal-done.html") Modal Done
            li
                a(href="modal-error.html") Modal Error
            li
                a(href="log-in.html") Log In
            li
                a(href="log-in-error.html") Log In - Error
            li
                a(href="sign-up.html") Sign Up
            li
                a(href="forgot-password.html") Forgot password
            li
                a(href="password-sent.html") Password sent
            li
                a(href="404.html") 404
            li
                a(href="gallery.html") Gallery
            li
                a(href="faq.html") FAQ
            li
                a(href="about.html") About 
            li
                a(href="ui.html") UI 
        br
        br
        br
         
        
