extends ../layout/main
include ../layout/mixins

block title
    | Profile - User

block styles
    
block content
    .card 
        .container 
            .card__header
                .card__user 
                    .card__user-logo A

                    .card__user-column 
                        .card__user-title Andrew Woody

        .card__content 
            .container
                .card__wrapper
                    .card__aside
                        +about-user

                    .card__column 
                        .card__subheader 
                            .card__subheader-column
                                .card__subheader-title Post Summary
                                .card__subheader-quantity 3 Total

                        +report-with-images
                        +report
                        +report
                        +report
