$c-black: #000;
$c-white: #fff;
$c-red: #DF2020;
$c-red-light: #E42024;
$c-green: #20DF8F;
$c-dark-gray: #D0D9CF;
$c-light-gray: #F3F2EA;
$c-ash-gray: #EEF0EB;
$c-light-white: #17204B;
$c-gainsboro: #DCDCDC;
$c-peppermint: #D1D9CF;
$c-rainee: #B6C2B2;
$c-b-white: #E4E3D8;
$c-mantle: #9AAC96;
$c-floral-white: #F8F7F3;
$c-honeydew: #F9FAF9;
$c-celeste: #D1D0BD;
$c-ivory: #FDFDFC;

$c-shades-black-100: #1A1A1A;
$c-shades-black-300: #4D4D4D;
$c-shades-black-500: #808080;
$c-shades-black-700: #B3B3B3;

$c-shades-red-200: #590D0D;
$c-shades-red-300: #861313;
$c-shades-red-400: #B21A1A;

$c-shades-blue-300: #747993;
$c-shades-blue-400: #2E419E;
$c-shades-blue-500: #2080DF;

$c-shades-green-300: #138656;
$c-shades-green-400: #1AB273;

$anim: 0.2s ease;

