@import '../common/colors', '../common/mixins';

.our-achievements {
    padding: 120px 0;

    @media (max-width: 767px) {
        padding: 40px 0 20px;
    }

    &__title {
        text-align: center;
        letter-spacing: -0.18px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 60px;
        color: $c-shades-black-100;

        @media (max-width: 767px) {
            text-align: left;
            font-size: 26px;
            letter-spacing: -0.13px;
            margin: 0 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -12px;

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__column {
        width: 25%;
        max-width: 25%;
        padding: 0 12px;

        @media (max-width: 991px) {
            width: 50%;
            max-width: 50%;
            padding-bottom: 20px;
        }

        @media (max-width: 767px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__item {
        padding: 43px 32px 42px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border: 1px solid $c-dark-gray;
        background: $c-white;
        @include border-radius(8px);
        min-height: 100%;

        @media (max-width: 767px) {
            padding: 60px 32px;
        }

        &-logo {
            width: 96px;
            height: 96px;
            background: $c-light-gray;
            @include border-radius(50%);
            margin: 0 auto 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            @media (max-width: 767px) {
                width: 80px;
                height: 80px;
                margin: 0 auto 20px;
            }
        }

        &-icon {
            display: block;
            fill: $c-red;

            &--user,
            &--case {
                width: 42px;
                height: 42px;

                @media (max-width: 767px) {
                    width: 36px;
                    height: 36px;
                }
            }

            &--pen {
                width: 38px;
                height: 38px;

                @media (max-width: 767px) {
                    width: 34px;
                    height: 34px;
                }
            }

            &--security {
                width: 40px;
                height: 40px;

                @media (max-width: 767px) {
                    width: 36px;
                    height: 36px;
                }
            }
        }

        &-title {
            margin: 0 0 8px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: -0.14px;
            font-size: 28px;
            color: $c-shades-black-100;
            text-align: center;
            width: 100%;

            @media (max-width: 767px) {
                font-size: 26px;
            }
        }

        &-descr {
            line-height: 1.5;
            font-weight: 400;
            letter-spacing: -0.24px;
            font-size: 16px;
            color: $c-shades-black-100;
            text-align: center;
            width: 100%;

            @media (max-width: 767px) {
                font-size: 14px;
                letter-spacing: -0.21px;
            }
        }
    }
}

