@import '../common/colors', '../common/mixins';

.search {
    position: relative;
    z-index: 11;

    &--for-header {
        max-width: 420px;
        margin: 0 auto;
        flex: 1;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &--for-mobile-menu {
        margin: 0 20px;
    }
    
    &__btn {
        position: absolute;
        left: 16px;
        width: 24px;
        height: 24px;
        top: 50%;
        margin-top: -12px;
        border: none;
        background: none;
        transition: $anim;
        cursor: pointer;

        &-icon {
            width: 24px;
            height: 24px;
            opacity: 0.52;
            stroke: $c-shades-black-100;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
    }
    
    &__input {
        width: 100%;
        @include border-radius(8px);
        border: 1px solid $c-dark-gray;
        height: 44px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: -0.24px;
        color: $c-shades-black-100;
        padding: 1px 16px 1px 52px;
        transition: $anim;
        z-index: 1;

        @include input-placeholder {
            color: $c-shades-black-100;
            opacity: 1;
        }

        &:hover {
            border-color: $c-mantle;
            box-shadow: inset 0 0 0 1px $c-mantle;
        }

        &:focus {
            border-color: $c-mantle;
            box-shadow: inset 0 0 0 1px $c-mantle;
            padding: 0 40px 0 16px;
        }
    }

    &__input:focus ~ &__btn {
        opacity: 0;
    }

    &__cancel {
        position: absolute;
        right: 16px;
        border: none;
        background: none;
        cursor: pointer;
        top: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        transition: $anim;
        opacity: 0;

        &-icon {
            stroke: $c-shades-black-100;
            width: 24px;
            height: 24px;
        }
    }

    &__input:focus ~ &__cancel {
        opacity: 1;
    }

    &__dropdown {
        position: absolute;
        left: 0;
        right: 0;
        top: 52px;
        @include border-radius(8px);
        border: 1px solid $c-dark-gray;
        background: $c-white;
        z-index: 11;
        display: none;
    }

    &__wrapper:focus-within + &__dropdown {
        display: block;
    }

    &__section {
        padding: 15px 0 0;

        & + & {
            border-top: 1px solid $c-dark-gray;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        margin: 0 16px 15px;
        color: $c-black;
        letter-spacing: -0.24px;
    }

    &__item {
        padding: 5px 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 400;
        min-height: 52px;
        cursor: pointer;

        &:hover {
            background: rgba($c-dark-gray, 0.36);
            text-decoration: none;
        }

        &-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
        }

        &-icon {
            stroke: $c-shades-black-500;
            width: 18px;
            height: 18px;
        }

        &-logo {
            width: 32px;
            height: 32px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $c-light-gray;
            margin-right: 12px;
            @include border-radius(50%);
        }

        &-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &-verified {
            width: 24px;
            height: 24px;
            margin-left: 3px;
            flex-shrink: 0;
        }

        &-quantity {
            color: rgba($c-shades-black-100, 0.52);
            margin-left: 10px;
            text-align: right;
        }

        &-name {
            letter-spacing: -0.24px;

            &-strong {
                letter-spacing: 0;
                font-weight: bold;
            }
        }
    }

    &__buttons {
        padding: 10px 16px;
    }

    &__show-all {
        width: 100%;
    }
}

